@import "var.css";

/* main */
body {
  background-color: seagreen;
}
.book-form {
  display: flex;
  flex-direction: column;
}

.book-container {
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  flex-direction: column;
}

.submit-container__start {
  display: flex;
  justify-content: center;
}

.submit-container__end {
  display: flex;
  justify-content: center;
}
