* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img{
  object-fit:cover;
}

:root {
  --color-green: #94c500;
  --space-side-default: 16px;
  --space-upside-default: 32px;
  --space-side-mobile: 8px;
  --font-size-mid: 24px;
  --font-size-small: 16px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .input-container {
    width: 80%;
  }
}
.tour-course-container{
  transition: 2s ease-in;
}
.container {
  width: 800px;
  height: 400px;
  display: grid;
  background-color:brown;
  grid-template-columns: repeat(3, 1fr);
}

.container:hover {
  animation: name 4s ease-in-out infinite;
}

@keyframes name {
  0% {
    grid-template-columns: 1fr 1fr 1fr ;
  }
  25% {
    grid-template-columns: 2fr 1fr 1fr ;
  }
  50% {
    grid-template-columns: 1fr 2fr 1fr ;
  }
  75% {
    grid-template-columns: 1fr 1fr 2fr ;
  }
  100% {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
#cosa {
  background-color:bisque;
  background:url("../img/#date")

}
#cosb {
  background-color: blueviolet;
 
}
#cosc {
  background-color:blue;

}