* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --color-green: #94c500;
  --space-side-default: 16px;
  --space-upside-default: 32px;
  --space-side-mobile: 8px;
  --font-size-mid: 24px;
  --font-size-small: 16px;
}

/* header */

.header-container {
  background-color: var(--color-green);
  height: 72px;
  display: flex;
  align-items: center;
}

header {
  font-size: var(--font-size-mid);
}

.start,
.end {
  width: 25%;
}

.start {
  padding-left: var(--space-side-default);
  display: flex;
  justify-content: flex-start;
}

.logo i {
  color: #551a8b;
  margin-right: 8px;
}

.logo span {
  color: #ffffff;
  font-weight: 800;
}

.mid {
  width: 50%;
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.header-search {
  padding: 8px 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.input-container a {
  position: absolute;
  right: 12px;
  font-size: 20px;
}

.end {
  padding-right: var(--space-side-default);
  display: flex;
  justify-content: flex-end;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour-course-container {
  margin: var(--space-upside-default) var(--space-side-default);
  width: 60%;
  height: 400px;
  background-color: salmon;
}

.theme-container {
  margin: var(--space-upside-default) var(--space-side-default);
  width: 60%;
  height: 400px;
  background-color: salmon;
}

/* footer */

footer {
  background-color: #f2f2f2;
  margin-top: var(--space-upside-default);
  height: 64px;
  display: flex;
  align-items: center;
}

.footer-text {
  margin: 0px var(--space-side-default);
}

@media screen and (max-width: 425px) {
  .header-container {
    font-size: var(--font-size-small);
  }

  .start {
    padding-left: var(--space-side-default);
  }
  .end {
    padding-right: var(--space-side-default);
  }

  .input-container {
    width: 80%;
  }
}
