@import url(./var.css);
/* sign-up*/

body {
  margin: 0;
}

li, h3{
  text-align: center;
  list-style: none;
}

.header {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin: 0;
  background-color: var(--color-bright-violet);
  position: relative;
}

.title {
  margin: 0px;
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 20px;
}

.usre-name {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: 10px auto;
}

.usre-name > div {
  margin: 0;
  padding: 0;
  height: 25px;
  padding: 5px;
}

.robot{
  border: 1px solid ;
  /* width: fit-content; */

  /* padding: 10px 100px 25px 100px;
  width: 150px;
  height: 50px; */
  text-align: center;
  font-size: large;
}

.sign-up{
  text-align-last: center;
  /* width: 150px; */
  display: grid;
  grid-template-columns: 1fr
  
}
input[type="checkbox"]{

  width: 20px;
  height: 20px;
}
.phone{
  padding: 40px;
  margin: 20px;
  display: grid;
}
.usre-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img{
  object-fit: cover;
}
.border{
  width: 0px;
}
.login{
  text-align-last: center;
}
.img-a{
  object-fit: cover;
  padding: 1px 1px 1px 100px;
}
