li, h3{
  text-align: center;
}
.name{
  float: left;
  padding: 10px 10px 10px 300px;
  margin: 10px;
}
.ename{
  float: left;
  padding: 10px 300px 10px 10px;
  margin: 10px;
}
.robot{
  border: 1px solid ;
  /* width: fit-content; */

  /* padding: 10px 100px 25px 100px;
  width: 150px;
  height: 50px; */
  text-align: center;
  font-size: large;
}

.sign-up{
  text-align-last: center;
  /* width: 150px; */
  display: grid;
  grid-template-columns: 1fr
  
}
input[type="checkbox"]{

  width: 20px;
  height: 20px;
}
.phone{
  padding: 40px;
  margin: 20px;
  display: grid;
}
.usre-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img{
  object-fit: cover;
}
.border{
  width: 0px;
}
.login{
  text-align-last: center;
}

