@import url(./var.css);

.theme-container {
  margin: var(--space-upside-default) var(--space-side-default);
  width: 60%;
  height: 400px;
  background-color: salmon;

  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, 1fr);
}

.items {
  border-radius: 8px;
  background-color: blueviolet;
  border: 2px solid rgb(1, 1, 1, 0.2);
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  transition: border 0.5s ease-in-out;
}

.theme-image {
  width: 32px;
  height: 32px;
  background: url("https://picsum.photos/200");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 12px;
}

.items span {
  font-size: 14px;
  font-weight: 600;
}

.items:hover {
  border: 4px solid slateblue;
  animation: shrink 1s ease-in forwards;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.96);
  }
}

@media screen and (max-width: 425px) {
  .theme-container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .theme-image {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
  .items span {
    font-size: 8px;
  }
}
