@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --color-green: #94c500;
  --space-side-default: 16px;
  --space-upside-default: 32px;
  --space-side-mobile: 8px;
  --font-size-mid: 24px;
  --font-size-small: 16px;
}
